[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-bcrypt = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
alembic = "*"
psycopg2-binary = "*"
marshmallow = "*"
flask-script = "*"

[requires]
python_version = "3.8"
